/*
primary-color: #edc531;
secondary-color: #5c2e0a;

#032830

inter 
roboto
Amatic SC


24c Fresh Spicy • Citrus • Aromatic
asad black Amber • Fresh Spicy • Vanilla
asad brown Vanilla • Cacao • Aromatic
ekhtyari White Floral • Fruity • Citrus
maher Powdery • Woody • Vanilla


*/

:root {

    --bs-primary: rgb(122, 84, 46);
    --bs-primary-rgb: 122, 84, 46;
    --primary-blend-mode: #926A42;
    --bs-secondary-color: #e4d00a;
    --bs-info: #007a7a !important;
    --bs-info-rgb: 0, 122, 122;
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Amatic SC", sans-serif;
    --nav-font: "Inter", sans-serif;
    --bs-box-shadow-sm: 0 0.125rem 0.25rem var(--bs-info);
    --bs-body-bg: transparent;
    --video-btn-color: #d11515;
    --bs-secondary-rgb: 228, 208, 10;
    --bs-link-color: #fff;
    --bs-link-hover-color: #0a58ca;

}

body {
    font-family: var(--default-font);

}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.text-secondary {
    color: var(--bs-secondary-color) !important;
}

.btn-secondary {
    background-color: var(--bs-secondary-color);
}

.text-info {
    color: var(--bs-info) !important;
}

.border-info {
    border-color: var(--bs-info) !important;
}

.text-light-emphasis {
    color: #fff;
}

.nav-link {
    font-family: var(--nav-font);
}

.blend-mode {
    background-color: #86592C;
    background-blend-mode: color;
}

.blend-mode-forward {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: color;
    bottom: 2px;
    right: 2px;
}

.burger-icon {
    color: var(--bs-secondary-color);
}

.navbar-toggler {
    border-color: var(--bs-secondary-color);

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--bs-secondary-color);
}

.spicial-font {
    font-family: var(--heading-font);
}

#navbarNav ul li:not(.dropdown):before {
    content: '';
    position: absolute;
    background-color: #DCA853;
    height: 3px;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

#navbarNav ul li:hover::before {
    width: 100%;
    background-color: var(--bs-secondary-color);
}

.nav-shadow {}

@media (min-width: 992px) {
    .spicial-font {
        font-size: 4rem;

    }
}

.hero {
    height: 89vh;
}

.hero-image {
    width: 100%;
    height: 25rem;
    border: 1px solid #e4ce0a6f;
    box-shadow: 0px 0px 10px 0 #413b286e;
    animation-name: glowing-circle;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.hero-content {
    height: 95%;
}

.hero-btn-container {
    bottom: 2%;
}

.hero-description {
    max-width: 100%;
}

.hero-btn-container a:nth-child(1) {
    translate: 40%;
}

.hero-btn-container a:nth-child(2) {
    translate: 60%;
}

@media (min-width: 576px) {
    .hero-btn-container {
        bottom: initial;
    }
}

@media (min-width: 768px) {
    .hero-btn-container a:nth-child(1) {
        translate: 0;
    }

    .hero-btn-container a:nth-child(2) {
        translate: 0;
    }
}


.btn.spicial-btn:hover {
    background-color: rgba(228, 206, 10, .9);
    box-shadow: 0px 0px 2px 1px #e4d00a;
    border-color: transparent;
}

.video-btn:hover span {
    color: var(--video-btn-color);
}

@media (min-width: 768px) {

    .hero-image {
        width: 40vh !important;
        height: 40vh !important;
        border-radius: 50% !important;
    }
}

@media (min-width: 992px) {

    .hero-image {
        width: 60vh !important;
        height: 60vh !important;
    }

        .hero-description {
        width: 40%;
    }

    .hero-content {
        height: auto;
    }
}



@keyframes glowing-circle {
    0% {
        box-shadow: 0px 0px 10px 0 #e4d00a;

        border-color: #e4ce0a6f;
    }

    25% {
        box-shadow: 0px 0px 10px 2px #e4d00a;

        border-color: #e4ce0a9c;
    }

    50% {
        box-shadow: 0px 0px 10px 4px #e4d00a;

        border-color: #e4ce0abd;
    }

    75% {
        box-shadow: 0px 0px 10px 6px #e4d00a;

        border-color: #e4ce0add;
    }

    100% {
        box-shadow: 0px 0px 10px 8px #e4d00a;

        border-color: #e4d00a;
    }
}

.chk-mark-color {
    color: var(--bs-info);
}

.text-shadow {
    text-shadow: -4px -5px 3px var(--bs-info);
}

.bg-primary-blend-mode {
    background-color: var(--primary-blend-mode);
}

.play-video::before {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: var(--video-btn-color);
    opacity: .7;
}

.play-video::after {
    content: '';
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: calc(-50% + 7.5px) -50%;
}

.feature-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    transition: backgrond-color 200ms ease-in-out, color 200ms ease-in-out;
}

.feature-icon:hover {
    background-color: var(--bs-secondary-color);
    color: white !important;
}


.btn-learn {
    background-color: var(--bs-info);
}

.shadow-card {
    box-shadow: 0 0 5px 1px var(--bs-secondary-color);
}

.resources-counters {
    background-image: url(../images/counters-background.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color;
    background-position-x: center;
    background-size: cover;
    min-height: 500px;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-link-color);
}

.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
    border-bottom-color: var(--bs-secondary-color);
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem transparent;
}

.testmionials-card {
    width: 100%
}

@media (min-width: 992px) {
    .testmionials-card {
        width: 50%;
    }
}

.events-card {
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;

}

.event-1 {
    background-image: url(../images/events-background/saudi-itenational-background.jpg);

}

.event-2 {
    background-image: url(../images/events-background/fragrances-shrjah-expo.jpg);

}

.event-3 {
    background-image: url(../images/events-background/ryead-expo-1.jpg);

}

.event-4 {
    background-image: url(../images/events-background/dior-expo.jpg);

}

.choices__inner {
--bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wave-img {
    margin-top: -20%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.teams {

    perspective: 1000px;
    perspective-origin: center center;
}

.team-card {
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    
}

.team-card:hover {
    transform: translateZ(100px);
}


 
